<section class="bg-zinc-900 p-20 rounded-xl my-4">
  <h2 class="text-5xl font-bold my-5 text-center">About us</h2>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel assumenda,
    veritatis laudantium facilis eveniet voluptate molestiae exercitationem
    natus ad, amet ullam impedit consectetur delectus earum similique distinctio
    ea cum officia?
  </p>
</section>
