

<section class="flex flex-col py-10 md:flex-row md:p-20 gap-y-10">
    <div class="  grid grid-cols-2 gap-9 ">   
    <div >
        <img src="favicon.svg"class="w-20 m-auto" >
        <p class="mt-4">Dev Managment</p>
    </div>

    <div>
        <img src="favicon.svg"class="w-20 m-auto" >
        <p class="mt-4">lorem DFD</p>
    </div>

    <div>
        <img src="favicon.svg"class="w-20 m-auto" >
        <p class="mt-4">DGDFG</p>
    </div>
    <div>
        <img src="favicon.svg"class="w-20 m-auto" >
        <p class="mt-4">ERTERTER</p>
    </div>
</div> 
    <div class="flex">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis nostrum eius repellat obcaecati non harum, facilis fugiat explicabo? In, cumque.</p>
    </div>
</section>