---
import Layout from "../Layouts/Layout.astro";
---

<Layout title="Acerca de mi">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quam quod
    porro! Blanditiis vel tenetur dolore sequi cum quibusdam magnam at eum
    quasi! Optio, ipsum? Reiciendis explicabo quaerat quasi ex deserunt in
    nostrum tempora, dolor, debitis repellendus placeat vitae laboriosam ullam
    alias soluta cupiditate eveniet quas illo necessitatibus. Quas, laborum
    necessitatibus aspernatur a consequatur, inventore sint officia ipsum quia
    itaque cum! Nesciunt et, sit illo veritatis ex pariatur illum perspiciatis
    hic, odit doloremque beatae omnis nihil mollitia ab, at quos aperiam ut vero
    architecto. Temporibus atque nemo libero. Id nesciunt aut soluta incidunt
    molestiae aspernatur architecto possimus itaque enim minima.
  </p>
</Layout>
